<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Airline Reservation System  </title>
  
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <br>
  <br>
  <br>
  
  <div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 main">
  <h1> Admin Options</h1><br>
  <a  class="box"href="/addflight"><i class="fa fa-fw fa-table"></i>Add Flight</a><br><br>
  <a class="box" href="/allbookings"><i class="fa fa-fw fa-table"></i>View all bookings of all users</a><br><br>
  <a class="box" href="/allusers"><i class="fa fa-fw fa-table"></i>View all User Details</a><br><br>
  <a class="box" href="/allflightseats"><i class="fa fa-fw fa-table"></i>Check seats in flight</a><br><br>
  <a class="box" href="/allflights"><i class="fa fa-fw fa-table"></i>View all flights</a><br><br><br><br>
  <a class="box" href="/adminlogin"><i class="fa fa-fw fa-table"></i>Logout</a>
  
</div>


<div class="col-md-3">
</div>

</div>
</div>
</body>
</html>   