<!DOCTYPE html>
<html lang="en">

<head>
  <title>Airline Reservation System  </title>
  
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    
  <br>
  <br>
  <br>
  
  <div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 main">
            <h1>No bookings have been made by any user yet </h1><br>
            
    <a class="box" href="/adminoptions"><i class="fa fa-fw fa-table"></i><br><br>Go back!</a><br>
  
    
</div>


<div class="col-md-3">
</div>

</div>
</div>
</body>
</html>   


            