<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Airline Reservation System  </title>
  
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  
<div class="container">
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6 main">

<form action="/checkseats" method="POST">
  
  <h1> Enter the flight details</h1>
 

<input class="box" type="text" name="fid" 
  placeholder="Flight id" required /><br>
  
<input class="box" type="date"  name="date"
placeholder="Date " required /><br>
\
  <input type="submit" id="submitDetails"
  name="submitDetails" value="Check Seats" /><br>

</form>

</div>


<div class="col-md-3">
</div>

</div>
</div>
  

 
</body>
</html>