<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Airline Reservation System  </title>
  
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <br>
  <br>
  <br>
  
  <div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 main">
  <h1> What do you want to do ?</h1><br>
  <a class="box" href="/bookflight"><i class="fa fa-fw fa-table"></i>Book Flight</a><br><br>
  <a class="box" href="/checkbooked"><i class="fa fa-fw fa-table"></i>View all bookings</a><br><br>
  <a class="box" href="/getuserdetails"><i class="fa fa-fw fa-table"></i>View User Details</a><br><br>
  <a class="box" href="/cancelflight"><i class="fa fa-fw fa-table"></i>Cancel Flight</a><br><br>
  <a class="box" href="/rescheduleflight"><i class="fa fa-fw fa-table"></i>Reschedule Flight</a><br><br><br><br>
  
  <a class="box" href="/"><i class="fa fa-fw fa-table"></i>Logout</a>
</div>


<div class="col-md-3">
</div>

</div>
</div>
</body>
</html>   